.bag {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  min-height: 400px;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 30px;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
}

.items {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.container {
  width: 40%;
  align-self: flex-start;
  max-width: 600px;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: #f5f7f8;
  border-radius: 0.5rem;
}

.container .bill {
  width: 100%;
}

.container .bill p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}

.container .bill p:last-child {
  border-top: 1px dashed #000;
  margin-top: 20px;
  font-weight: bold;
}

.container button {
  border: none;
  outline: none;
  background-color: #28282b;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  padding: 10px;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.container button:hover {
  background-color: #000;
  font-weight: bold;
}

@media (max-width: 768px) {
  .bag {
    flex-direction: column;
  }

  .items {
    width: 100%;
    align-items: center;
  }

  .container {
    width: 90%;
    align-self: center;
  }
}
