.bag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  min-height: 400px;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 30px;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
}
