.skcard {
  display: inline-block;
  width: 200px;
  box-shadow: 0 2px 7px #dfdfdf;
}

.skthumbnail {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
}

.skdetails {
  padding: 10px;
  text-align: center;
}

.skdetails h4 {
  font-size: 1.3rem;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.skdetails p {
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 18px;
}

.skfoot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding-top: 20px;
}

.skprice {
  width: 50%;
  font-size: 1.2rem;
}

.skbag {
  font-size: 1.3rem;
}

@media (max-width: 711px), (min-width: 1600px) {
  .skcard {
    width: 250px;
  }

  .skthumbnail {
    width: 250px;
    height: 250px;
  }

  .skdetails h4 {
    font-size: 1.3rem;
  }

  .skdetails p {
    font-size: 0.8rem;
    margin-bottom: 15px;
  }

  .skfoot {
    gap: 30px;
    padding-top: 20px;
  }

  .skprice {
    font-size: 1.1rem;
  }
  .skbag {
    font-size: 1.5rem;
  }
}
