.card {
  display: inline-block;
  width: 200px;
  box-shadow: 0 2px 7px #dfdfdf;
  background: #fafafa;
  border-radius: 0.3rem;
}

.badge {
  position: absolute;
  left: 0;
  top: 15px;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
  background: red;
  color: #ffffff;
  padding: 3px 8px;
}

.rating {
  position: absolute;
  left: 5px;
  bottom: 5px;
  padding: 3px;
  font-size: 0.7rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background-color: #272829;
  color: #fff;
  border-radius: 0.2rem;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.outOfStock {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-transform: capitalize;
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
  background: red;
  color: #ffffff;
  padding: 3px 8px;
}

.thumbnail {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
  background: #f0f0f0;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.thumbnail img {
  max-width: 100%;
  max-height: 100%;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.details {
  padding: 10px;
  text-align: center;
}

.details h4 {
  font-size: 1.2rem;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
  font-family: "Lato", sans-serif;
  text-transform: capitalize;
  color: #363636;
}

.details p {
  font-family: "Ubuntu", sans-serif;
  font-size: 0.6rem;
  line-height: 1.2;
  margin-bottom: 10px;
  color: #999;
}

.category {
  opacity: 0.5;
}

.foot {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.foot div {
  float: left;
  width: 50%;
}

.price {
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  color: #343a40;
  opacity: 0.5;
}

.price small {
  font-size: 0.6rem;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}

.links {
  text-align: right;
}

.addToBagBtn {
  background: none;
  border: none;
  outline: none;
  margin-left: 5px;
  color: #343a40;
  transition: 0.3s;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
}

.addToBagBtn:hover {
  color: #000;
}

@media (max-width: 711px), (min-width: 1600px) {
  .card {
    width: 250px;
  }

  .badge {
    top: 20px;
    font-size: 1rem;
    padding: 3px 10px;
  }

  .outOfStock {
    font-size: 1rem;
    padding: 5px 10px;
  }

  .thumbnail {
    width: 250px;
    height: 250px;
  }

  .details h4 {
    font-size: 1.3rem;
  }

  .details p {
    font-size: 0.8rem;
    margin-bottom: 15px;
  }

  .price {
    font-size: 1.1rem;
  }

  .price small {
    font-size: 0.8rem;
  }

  .addToBagBtn {
    font-size: 1.5rem;
  }
}
