.home {
  padding: 3% 15% 0;
}

@media (max-width: 1080px) {
  .home {
    padding-left: 7%;
    padding-right: 7%;
  }
}

@media (max-width: 890px) {
  .home {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media (max-width: 768px) {
  .home {
    padding-left: 2%;
    padding-right: 2%;
  }
}
