.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7% 0;
}

.col1,
.col2 {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.col1 {
  gap: 10px;
}

.heading {
  font-size: 2.8rem;
  line-height: 1.5;
}

.navigate {
  align-self: flex-start;
}

.exploreBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 0.3rem;
  color: #fff;
  background-color: #343a40;
  margin-top: 5%;
}

.exploreBtn:hover {
  background-color: #000;
}

.container {
  display: inline-block;
  align-self: flex-end;
  width: 60%;
  height: auto;
  border-radius: 0.5rem;
  background-image: url(/roompainting.jpeg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  animation: fade 10s infinite;
}

.headerimg {
  width: 100%;
  max-width: 100%;
  border-radius: 0.5rem;
  opacity: 0;
  visibility: hidden;
}

@media (max-width: 890px) {
  .container {
    width: 85%;
  }
}

@media (max-width: 768px) {
  .header {
    display: none;
  }
}

@keyframes fade {
  0% {
    background-image: url(/roompainting.jpeg);
  }
  25% {
    background-image: url(/roompainting.jpeg);
  }
  30% {
    background-image: url(/wallpainting.jpeg);
  }
  55% {
    background-image: url(/wallpainting.jpeg);
  }
  60% {
    background-image: url(/canvaspainting.jpeg);
  }
  85% {
    background-image: url(/canvaspainting.jpeg);
  }
  90% {
    background-image: url(/roomview.jpeg);
  }
  95% {
    background-image: url(/roomview.jpeg);
  }
  100% {
    background-image: url(/roomview.jpeg);
  }
}
