.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  color: black;
}

.brandtitle {
  color: black;
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.brandlogo {
  width: 2rem;
  height: auto;
  margin-right: 10px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.navlink {
  color: #343a40;
  font-size: 1.2rem;
  transition: all 0.5s ease-in-out;
}

.navlink:hover {
  color: #000;
  font-weight: bold;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  align-items: center;
}

.cart,
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  outline: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.togglerBtn {
  display: none;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  background: transparent;
  border: none;
  outline: none;
  font-size: 2rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .brandlogo {
    display: none;
  }

  .brandtitle {
    font-size: 1.5rem;
  }

  .navlink {
    font-family: "Ubuntu", sans-serif;
    font-size: 1rem;
  }

  .cart,
  .profile {
    font-size: 1.5rem;
  }

  .togglerBtn {
    display: flex;
    font-size: 1.5rem;
  }

  .navbar {
    align-items: flex-start;
  }

  .nav {
    display: none;
  }

  .nav.show {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    gap: 5px;
    overflow: hidden;
    animation: navtoggler 0.5s ease-in-out;
  }

  .navitem {
    padding: 10px;
  }
}

@media (max-width: 576px) {
}

@keyframes navtoggler {
  from {
    margin-left: -100%;
    opacity: 0;
  }
  to {
    margin-left: 0;
    opacity: 1;
  }
}
