.slider {
  width: 100%;
  border-radius: 0.5rem;
  background-image: url(/public/slide1.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  animation: fade 15s infinite;
}

.slider img {
  width: 100%;
  max-width: 100%;
  opacity: 0;
  visibility: hidden;
}

@media (min-width: 769px) {
  .slider {
    display: none;
  }
}

@keyframes fade {
  0% {
    background-image: url(/public/slide1.png);
  }
  25% {
    background-image: url(/public/slide1.png);
  }
  30% {
    background-image: url(/public/slide2.png);
  }
  55% {
    background-image: url(/public/slide2.png);
  }
  60% {
    background-image: url(/public/slide3.png);
  }
  85% {
    background-image: url(/public/slide3.png);
  }
  90% {
    background-image: url(/public/slide4.png);
  }
  95% {
    background-image: url(/public/slide4.png);
  }
  100% {
    background-image: url(/public/slide4.png);
  }
}
